<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<!--    <link th:href="@{src/main/resources/static/css/tech-jobs.css}" rel="stylesheet" />-->
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>


    <!-- TODO #1 - Use a loop to display job results in a table. -->

<!--        for loop her with thymeleaf-->
        <table th:each="job: ${jobs}" class="job-listing" >

<!--            //table row-->
            <tr>
                <th>ID</th>
                <td th:text = "${job.id}" ></td>
            </tr>
            <tr>
                <th>Name</th>
                <td th:text = "${job.name}" >
                </td>
            </tr>
            <tr>
                <th>Employer</th>
                <td th:text = "${job.employer}" >
                </td>
            </tr>
            <tr>
                <th>Location</th>
                <td th:text = "${job.location}" >
                </td>
            </tr>
            <tr>
                <th>Position</th>
                <td th:text = "${job.positionType}">
                </td>
            </tr>
            <tr>
                <th>Skill</th>
                <td th:text = "${job.coreCompetency}">
                </td>
            </tr>
<!--           separate them with each table they all smudged together-->
    </table>
</div>
</body>
</html>